<h1>Hello Guys</h1>

<style>
    h1{
        color: red;
    }
</style>

<script>
    console.log("hello");
</script>

@{
    int x = 10;
    int y = 20;
}

<!--inline-->

<h1>@x</h1>
@y

<!-- Conditional statements -->
@if (x > y)
{
    <h2>X is greater than Y</h2>
}
else
{
    <h2>X=@x is Smaller than Y=@y</h2>
}

<!-- Looping statements -->
@for (int i = 0; i < 10; i++)
{
    <li>@i</li>
}